################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Release
/九宫格demo/Debug
/Debug/九宫格demo.pdb
/Debug/九宫格demo.ilk
/.vs/九宫格demo/v14/.suo
*.suo
