################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Release
/九宫格demo/Debug
/Debug/九宫格demo.pdb
/Debug/九宫格demo.ilk
/.vs/九宫格demo/v14/.suo
*.suo
/wwin32u.pdb/4253C2D4C64B485EAE885C92FA9F14891
/wkernelbase.pdb/4DAD89FB110744179A0B1D6A168D930D1
/x64/Release/九宫格demo.pdb
/x64/Release/九宫格demo.ipdb
/x64/Release/九宫格demo.iobj
/九宫格demo/x64/Release/九宫格demo.tlog
/九宫格demo/x64/Release/main.obj
/九宫格demo/x64/Release
